<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="widget-table-wrapper">
        <f:for each="{items}" as="extension">
            <div class="panel panel-default">
                <div class="panel-body panel-body-highlightlinks">
                    <h3 class="h3">
                        <f:if condition="{extension.icon}">
                        <f:then>
                            <f:image src="{extension.icon}" class="extension-icon" />
                        </f:then>
                        </f:if>
                        <span class="extension-title">
                            {extension.title}
                        </span>
                        <f:if condition="{extension.active}">
                        <f:then>
                            <span class="label label-success pull-right">
                                <f:translate key="LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:widgets.aws_extensions.active" />
                            </span>
                        </f:then>
                        <f:else>
                            <span class="label label-danger pull-right">
                                <f:translate key="LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:widgets.aws_extensions.inactive" />
                            </span>
                        </f:else>
                        </f:if>
                    </h3>
                    <p>
                        <strong>EXT:{extension.extensionKey}</strong>
                        <f:translate key="LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:widgets.aws_extensions.version" />
                        {extension.version}
                        <br />
                        {extension.description}
                    </p>
                </div>
            </div>
            <hr />
        </f:for>
    </div>

</f:section>
<f:section name="footer">

    <f:if condition="{link}">
        <f:link.external uri="{link}" target="_blank" class="widget-cta">
            <f:if condition="{icon}">
                <div class="widget-cta-icon">
                    <core:icon identifier="{icon}" size="large" alternativeMarkupIdentifier="inline" />
                </div>
            </f:if>
            <f:if condition="{label}">
                <f:translate key="{label}" default="{label}"/>
            </f:if>
        </f:link.external>
    </f:if>

</f:section>
</html>
