<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <f:comment>
    <!-- this does not work:
    <f:asset.css identifier="general_information" href="EXT:aws_dashboard_widgets/Resources/Public/Css/general_information.css" />
    -->
    </f:comment>

    <!-- include additional CSS -->
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/general_information.css', extensionName: 'AwsDashboardWidgets')}">

    <div class="AwsDashboardWidgets">
        <div class="AwsGeneralInformationWidget">
            <div class="t3rrific-logo">
                <f:image src="EXT:aws_dashboard_widgets/Resources/Public/Images/t3rrific.png" alt="t3rrific.com" class="" />
            </div>
            <div class="banner text-center">
                <div class="logos">
                    <img class="typo3" src="{f:uri.resource(path: 'Images/typo3_logo.svg', extensionName: 'AwsDashboardWidgets')}" height="60" alt="{f:translate(key:'LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:typo3_logo')}" />
                    <span class="plus">+</span>
                    <img class="aws" src="{f:uri.resource(path: 'Images/aws_logo.svg', extensionName: 'AwsDashboardWidgets')}" height="50" alt="{f:translate(key:'LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:aws_logo')}" />
                </div>
                <h1>
                    <f:translate key="LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:widgets.aws_general_information.banner.headline" />
                </h1>
                <p>
                    <f:translate key="LLL:EXT:aws_dashboard_widgets/Resources/Private/Language/locallang.xlf:widgets.aws_general_information.banner.claim" /><br />
                    <f:link.typolink parameter="https://t3rrific.com/typo3-on-aws/" target="_blank" class="">
                        https://t3rrific.com/typo3-on-aws/
                    </f:link.typolink>
                </p>
            </div>
        </div>
    </div>

</f:section>
</html>
